body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#e0e7ff,#f8fafc);
min-height:100vh;
}

/* CUSTOM SCROLLBAR UNTUK MODAL */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* HEADER */
.header-bg{
background: linear-gradient(90deg, #4338ca, #4f46e5, #6366f1);
color:white;
box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

/* SPEECH */
.speech{
position:absolute;
top:-90px;
left:50%;
transform:translateX(-50%);
background:white;
border-radius:14px;
padding:12px 16px;
font-weight:bold;
border:2px solid #cbd5e1;
box-shadow:0 6px 10px rgba(0,0,0,0.1);
opacity:0;
transition:opacity .5s;
color:#1e293b;
width:250px;
text-align:center;
}

.speech::after{
content:"";
position:absolute;
bottom:-12px;
left:50%;
transform:translateX(-50%);
border-width:10px;
border-style:solid;
border-color:white transparent transparent transparent;
}